@charset "UTF-8";




/* temp 시작 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby,  summary,section,
time, mark, audio, video, button, input, select, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	letter-spacing: -0.2px;
	line-height: 1;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	cursor: pointer;
}

body{padding: 20px;box-sizing: border-box;}
.w2flexset{margin-top: 10px;}
/* temp 끝 */




.btn_flex_set{height: 24px;border-radius: 4px;border:1px solid #ccc;padding:0 4px;background: #fff;}
.btn_flex_plus{height: 24px;border-radius: 4px;border:1px solid #ccc;padding:0 4px;background: #fff}

.w2flexset{position: absolute;;border: 1px solid #ccc;padding: 8px;box-shadow: 0 5px 10px #eee;border-radius: 4px;box-sizing: border-box;}
.w2flexset > ul {display: flex;gap: 8px;}
.w2flexset > ul > li .w2flexset_tit{font-size: 11px;margin-bottom: 4px;}
.w2flexset > ul > li .w2flexset_cont{display: inline-flex;border: 1px solid #ccc;border-radius: 4px;overflow: hidden;}
.w2flexset > ul > li .w2flexset_cont button{width: 24px;height: 24px;font-size: 0;background: #fff;box-sizing: border-box;}
.w2flexset > ul > li .w2flexset_cont button + button{border-left: 1px solid #ccc;}
.w2flexset > ul > li .w2flexset_cont input[type='text']{padding:0 4px;border:0;height: 24px;box-sizing: border-box;border-radius: 4px;width: 60px;}
.w2flexset .w2flexset_direction .w2flexset_direction_row {background: url(images/ico_flex_direction_row.svg) center no-repeat;}
.w2flexset .w2flexset_direction .w2flexset_direction_columne{background: url(images/ico_flex_direction_column.svg) center no-repeat;}
.w2flexset .w2flexset_justify_content .w2flexset_justify_content_center {background: url(images/ico_flex_justify_content_center.svg) center no-repeat;}
.w2flexset .w2flexset_justify_content .w2flexset_justify_content_start {background: url(images/ico_flex_justify_content_start.svg) center no-repeat;}
.w2flexset .w2flexset_justify_content .w2flexset_justify_content_end {background: url(images/ico_flex_justify_content_end.svg) center no-repeat;}
.w2flexset .w2flexset_justify_content .w2flexset_justify_content_between {background: url(images/ico_flex_justify_content_between.svg) center no-repeat;}
.w2flexset .w2flexset_justify_content .w2flexset_justify_content_around {background: url(images/ico_flex_justify_content_around.svg) center no-repeat;}
.w2flexset .w2flexset_justify_content .w2flexset_justify_content_evenly {background: url(images/ico_flex_justify_content_evenly.svg) center no-repeat;}
.w2flexset .w2flexset_align_items .w2flexset_align_items_center {background: url(images/ico_flex_align-items_center.svg) center no-repeat;}
.w2flexset .w2flexset_align_items .w2flexset_align_items_start {background: url(images/ico_flex_align-items_start.svg) center no-repeat;}
.w2flexset .w2flexset_align_items .w2flexset_align_items_end {background: url(images/ico_flex_align-items_end.svg) center no-repeat;}
.w2flexset .w2flexset_align_items .w2flexset_align_items_strech {background: url(images/ico_flex_align-items_stretch.svg) center no-repeat;}
.w2flexset .w2flexset_align_items .w2flexset_align_items_baseline {background: url(images/ico_flex_align-items_baseline.svg) center no-repeat;}
.w2flexset .w2flexset_wrap .w2flexset_wrap_nowrap{background: url(images/ico_flex_wrap_nowrap.svg) center no-repeat;}
.w2flexset .w2flexset_wrap .w2flexset_wrap_wrap{background: url(images/ico_flex_wrap_wrap.svg) center no-repeat;}

.w2flexset .w2flexset_cont button:hover{background-color:#F4F6F8;}
.w2flexset .w2flexset_cont button.active{background-color: #EAEEF1;}

/* 세로형태 */
.w2flexset.type2{width: 166px;}
.w2flexset.type2 > ul{flex-direction: column;}
.w2flexset > ul > li .w2flexset_cont input[type='text']{width: 100%;}
