@charset "UTF-8";
:root{

    /* input */
    --input-height: 40px;
    --input-pd: 8px;
    --input-bd-width: 1px;
    --input-bd-radius: 4px;
    --input-bd-type: solid;
    --input-bd-color: #aaa;
    --input-font-size: 16px;
    --input-font-weight: 400;
    --input-font-color: #333;
    --input-lineheight: 1.2;

    /* checkbox */
    --check-bg:#fff;
    --checked-bg:#b474ea;

    /*  */
}

/* 레이아웃 */
.wrap {display: flex;flex-direction: column;height: 100%;} 
.wrap:after { content: ''; display: block; clear: both; } 

header{position: relative;flex:none;display: flex;align-items: center;height: 55px;padding: 10px 30px 10px 45px;background: #fff;z-index: 1000;box-sizing: border-box;border-bottom: 1px solid #E9ECEF;}
header .logo a{color:#333;text-decoration: none;}
header nav{margin-left: 100px;}
header nav ul{display:flex;align-items: center;gap: 40px;}
header nav ul li a{display: inline-flex;align-items: center;color:#333;text-decoration: none;gap: 4px;transition: 0.3s all;}
header nav ul li a::before{content: '';display: inline-block;width: 24px;height: 24px;background-size: 16px !important;transition: 0.3s all;}
header nav ul li:nth-child(1) a::before{background: url(../images/ico_home.svg) center no-repeat;background-size: contain;}
header nav ul li:nth-child(2) a::before{background: url(../images/ico_style.svg) center no-repeat;background-size: contain;}
header nav ul li:nth-child(3) a::before{background: url(../images/ico_component.svg) center no-repeat;background-size: contain;}
header nav ul li:nth-child(4) a::before{background: url(../images/ico_module.svg) center no-repeat;background-size: contain;}
header nav ul li:nth-child(5) a::before{background: url(../images/ico_temp.svg) center no-repeat;background-size: contain;}
header nav ul li a:hover{color:#a579ff}
header nav ul li a:hover::before{background-color: #ece2ff;border-radius: 50%;}

.container{display: flex;flex:1;overflow: hidden;}
.content{display: flex;flex-direction: column; flex: 1;overflow: auto;background: #F3F4F6;padding:30px;gap:24px}

.content > section{background: #fff;border:1px solid #ccc;padding:24px;border-radius: 8px;}
.content > section > h3{margin-bottom: 16px;font-size: 24px;font-weight: 700;border-left: 4px solid #ccc;padding-left: 8px;}

.box_tbl table,
.box_tbl table th,
.box_tbl table td{border:1px solid #ccc}
.box_tbl table{width: 100%;}
.box_tbl table th,
.box_tbl table td{padding:8px}
.box_tbl table th{white-space: nowrap;font-weight: 700;background: #efefef;}
.box_tbl table td:first-child{text-align: center;}
.box_tbl table .badge{display: inline-block;width: 24px;height: 24px;vertical-align: middle;}
.box_tbl table .badge.plugin{background: url(../images/ico_plugin.svg) center no-repeat;background-size: contain;}
.box_tbl table .badge.acc{background: url(../images/ico_accessibility.svg) center no-repeat;background-size: contain;}

.list_value{display: inline-flex;align-items: center;flex-wrap: wrap;gap:8px}
.list_value li{background: #eee;padding:4px 8px;border-radius: 4px;}
.list_value li.dis{opacity: 0.4;}
.list_value li.defult{background: var(--checked-bg);color:#fff}

/* 사이드 메뉴 */
aside { flex:none; height: 100%; width: 210px;background: #252832; overflow:hidden; overflow-y: auto; transition: all 0.4s;} 
aside::-webkit-scrollbar { width: 4px; height: 0PX; } 
aside::-webkit-scrollbar-track { background-color: #555;} 
aside::-webkit-scrollbar-thumb { border-radius: 0px; background-color: #9ac3fd; } 
aside::-webkit-scrollbar-button { width: 0; height: 0; } 
aside.hide{margin-left: -210px;}
aside h1 { height: 55px; } 
aside h1 a { display: flex;align-items: center;justify-content: center; height: 100%; background:#b474ea url(../images/old/logo.svg) no-repeat center; background-size: contain;text-decoration: none;color:#fff} 

aside ul,
aside ul li,
aside ul li a { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;text-decoration: none;} 
aside p.tit{height: 34px;font-size: 12px;color:#fff;padding: 10px;box-sizing: border-box;}
aside .nav_noti{margin-bottom: 10px;}
aside .nav_noti li a{display: flex;align-items: center;height: 45px;padding: 0 20px;color:#fff;font-size: 14px;font-weight: 700;}
aside .nav_noti li.on a{border-left:4px solid #FFDD4D;padding-left: 16px;}

aside .nav_menu ul { display: none;background-color: #191D21;}
aside > .nav_menu > li.active > ul { display: block; } 
aside > .nav_menu > li.active > a:after { transform:rotate(45deg); -webkit-transform:rotate(45deg);margin-top: -9px; } 
aside > .nav_menu > li.nodep > a:after{display: none;}
aside > .nav_menu > li.nodep.on a{border-left:4px solid #FFDD4D;background: #191d21;padding-left: 16px;}
aside > .nav_menu > li > a { position: relative; display: flex; align-items: center; height: 53px; padding: 0 40px 0 20px;cursor: pointer; z-index: 2; font-size: 14px; color: #fff; font-weight: 700;} 
aside > .nav_menu > li > a:after { content:''; position: absolute;top:50%; right:20px; border: solid #fff; border-width: 0 2px 2px 0; display: inline-block; padding: 4px; transform: rotate(-45deg); -webkit-transform:rotate(-45deg); transition: all 0.52s ease; margin-top: -7px;} 
aside > .nav_menu > li > a > i { vertical-align: middle; margin-right: 15px; } 

aside .nav_menu ul li a { display: flex;align-items: center;padding: 0 30px; cursor: pointer; z-index: 2; font-size: 13px;color: #fff;height: 44px;} 
aside .nav_menu ul li.on >a{border-left:4px solid #FFDD4D;padding-left: 26px;color:#FFDD4D} 
aside .nav_menu ul li> a:hover {border-left:4px solid #FFDD4D;padding-left: 26px;background: #252832} 
aside .nav_menu ul ul li a { padding-left: 66px; } 
aside .nav_menu ul ul li a:before{content:"-";display: inline-block;margin-right:5px;}
aside .nav_menu ul ul li.on >a,
aside .nav_menu ul ul li> a:hover { color: #4B4B4B;background-color:#e9e9e9} 


.ly_content{display: flex;gap:10px}



.form_setting h3{margin:28px 0 8px;font-weight: 700;}
.form_setting h3:first-child{margin-top: 0;}
.form_setting .btn_apply{width: 100%;margin-top: 20px;}
.form_ul{display: grid;grid-template-columns: 1fr 1fr;gap:12px;}
.form_ul > li > label{display: block;margin-bottom: 2px;}
.form_ul > li > input[type=text]{width: 100%;border:1px solid #ccc;height:30px;box-sizing: border-box;padding: 4px;}
.form_ul > li > input[type=color]{width: 100%;height: 30px;border:1px solid #ccc;padding:0px 3px;box-sizing: border-box;background: #fff;}
.form_ul > li > select{width: 100%;border:1px solid #ccc;height:30px;box-sizing: border-box;padding: 4px;}




/* component */
.grp_component {
    & .ipt_text,
    & .ipt_search,
    & .ipt_password,
    & .ipt_number,
    & .select{width:100%;height: var(--input-height);padding:var(--input-pd);border: var(--input-bd-width) var(--input-bd-type) var(--input-bd-color);border-radius: var(--input-bd-radius);font-size:var(--input-font-size);font-weight: var(--input-font-weight);color:var(--input-font-color);line-height: var(--input-lineheight);box-sizing: border-box;}
}

/* ipt_text */

.grp_component {
    & .ipt_text::placeholder{color:#bbb}
    & .ipt_text:read-only{background-color: #f0f0f0;color:#aaa}
    & .ipt_text:disabled{background-color: #e9e9e9;color:#bbb}

    & .bm_ipt_text.ani01{transition: 0.3s all;border-radius: 4px;}
    & .bm_ipt_text.ani01:hover{box-shadow: 0px 3px 10px rgba(0,0,0,0.15);}
    & .bm_ipt_text.ani01:has(.ipt_text:focus){box-shadow: 0px 4px 15px rgba(0,0,0,0.25);scale:1.01;}
    & .bm_ipt_text.ani01 .ipt_text:focus{outline: none;}

    & .bm_ipt_text.ani02 {position: relative;overflow: hidden;}
    & .bm_ipt_text.ani02 .ipt_text{transition: 0.3s all;}
    & .bm_ipt_text.ani02::before{content:'';position: absolute;left:0px;bottom: 0px;width: 0%;height: 4px;border-bottom: 2px solid #a579ff;transition: 0.3s all;border-radius: 0 0 4px 4px;}
    & .bm_ipt_text.ani02:hover::before {width: calc(100% - 0px);}
    & .bm_ipt_text.ani02 .ipt_text:focus{outline: none;box-shadow: inset 0 0 0 1px #a579ff;}

    & .bm_ipt_text.ani03 {position: relative;overflow: hidden;background: #fff;border-radius: 4px;}
    & .bm_ipt_text.ani03 .ipt_text{position: relative;;background: transparent;transition: 0.3s all;z-index: 1;}
    & .bm_ipt_text.ani03::before{content:'';position: absolute;left:0;top: 0;width: 0%;height: 100%;background: #f5f2fb;transition: 0.3s all;z-index: 0;}
    & .bm_ipt_text.ani03:hover::before {width: 100%}
    & .bm_ipt_text.ani03::after{content:'';position: absolute;left:0;top: 0;width: 0%;height: 100%;background: #efe9fa;transition: 0.3s all;z-index: 0;}
    & .bm_ipt_text.ani03:has(.ipt_text:focus)::after {width: 100%}
    & .bm_ipt_text.ani03 .ipt_text:focus{outline: none;box-shadow: inset 0 0 0 1px #a579ff;}

}

.grp_component .ipt_check{display: flex;align-items:center;gap:4px}
.grp_component .ipt_check input[type=checkbox]{width:16px;height: 16px;}
.grp_component .ipt_check .ico{position: relative;display: inline-block;width: 16px;height: 16px;border:1px solid #ccc}
.grp_component .ipt_check .ico input{position: absolute;left: 0;top:0;width: 100%;height: 100%;opacity: 0;}
.grp_component .ipt_check .ico svg{display: none;vertical-align: top;}
.grp_component .ipt_check .ico input:checked + svg{display: block;background: var(--checked-bg);}

.grp_component + .grp_component{margin-top: 28px;}
.grp_component .title{font-size: 20px;font-weight: 700;margin-bottom: 12px;}
.grp_component .comp {border:1px solid #ddd;padding:16px}
.grp_component .comp + .comp{margin-top: 12px;}
.grp_component .comp > ul{display: grid;grid-template-columns: repeat(4, 1fr);gap:20px;}
.grp_component .comp > ul li .tit{margin-bottom: 4px;}

.btn_apply{padding: 0 8px;height:30px;}