@charset "UTF-8";
:root{
    --input-height: 40px;
    --input-pd: 8px;
    --input-bd-width: 1px;
    --input-bd-radius: 4px;
    --input-bd-type: solid;
    --input-bd-color: #aaa;
    --input-font-size: 16px;
    --input-font-weight: 400;
    --input-font-color: #333;
    --input-lineheight: 1.2;

    --check-bg:#fff;
    --checked-bg:#b474ea;
}

/* 레이아웃 */
.wrap {display: flex;height: 100%;} 
.wrap:after { content: ''; display: block; clear: both; } 

/* 사이드 메뉴 */
aside { flex:none; height: 100%; width: 210px;background: #252832; overflow:hidden; overflow-y: auto; transition: all 0.4s;} 
aside::-webkit-scrollbar { width: 4px; height: 0PX; } 
aside::-webkit-scrollbar-track { background-color: #555;} 
aside::-webkit-scrollbar-thumb { border-radius: 0px; background-color: #9ac3fd; } 
aside::-webkit-scrollbar-button { width: 0; height: 0; } 
aside.hide{margin-left: -210px;}
aside h1 { height: 55px; } 
aside h1 a { display: flex;align-items: center;justify-content: center; height: 100%; background:#b474ea url(../images/old/logo.svg) no-repeat center; background-size: contain;text-decoration: none;color:#fff} 

aside ul,
aside ul li,
aside ul li a { margin: 0; padding: 0; border: 0; list-style: none; line-height: 1; display: block; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;text-decoration: none;} 
aside p.tit{height: 34px;font-size: 12px;color:#fff;padding: 10px;box-sizing: border-box;}
aside .nav_noti{margin-bottom: 10px;}
aside .nav_noti li a{display: flex;align-items: center;height: 45px;padding: 0 20px;color:#fff;font-size: 14px;font-weight: 700;}
aside .nav_noti li.on a{border-left:4px solid #FFDD4D;padding-left: 16px;}

aside .nav_menu ul { display: none;background-color: #191D21;}
aside > .nav_menu > li.active > ul { display: block; } 
aside > .nav_menu > li.active > a:after { transform:rotate(45deg); -webkit-transform:rotate(45deg);margin-top: -9px; } 
aside > .nav_menu > li.nodep > a:after{display: none;}
aside > .nav_menu > li.nodep.on a{border-left:4px solid #FFDD4D;background: #191d21;padding-left: 16px;}
aside > .nav_menu > li > a { position: relative; display: flex; align-items: center; height: 53px; padding: 0 40px 0 20px;cursor: pointer; z-index: 2; font-size: 14px; color: #fff; font-weight: 700;} 
aside > .nav_menu > li > a:after { content:''; position: absolute;top:50%; right:20px; border: solid #fff; border-width: 0 2px 2px 0; display: inline-block; padding: 4px; transform: rotate(-45deg); -webkit-transform:rotate(-45deg); transition: all 0.52s ease; margin-top: -7px;} 
aside > .nav_menu > li > a > i { vertical-align: middle; margin-right: 15px; } 

aside .nav_menu ul li a { display: flex;align-items: center;padding: 0 30px; cursor: pointer; z-index: 2; font-size: 13px;color: #fff;height: 44px;} 
aside .nav_menu ul li.on >a{border-left:4px solid #FFDD4D;padding-left: 26px;color:#FFDD4D} 
aside .nav_menu ul li> a:hover {border-left:4px solid #FFDD4D;padding-left: 26px;background: #252832} 
aside .nav_menu ul ul li a { padding-left: 66px; } 
aside .nav_menu ul ul li a:before{content:"-";display: inline-block;margin-right:5px;}
aside .nav_menu ul ul li.on >a,
aside .nav_menu ul ul li> a:hover { color: #4B4B4B;background-color:#e9e9e9} 

/* 헤더 */
header{position: relative;flex:none;display: flex;align-items: center;height: 55px;padding: 10px 30px 10px 45px;background: #fff;z-index: 1000;box-sizing: border-box;border-bottom: 1px solid #E9ECEF;}
header .btn_menu{position: absolute;left:0;top:0;width: 30px;height: 55px;background:#f3f4f6 url(../images/old/btn_menu.svg) center no-repeat;border:1px solid #E9ECEF;box-sizing: border-box;}
header .btn_menu ~ p{font-size: 13px;font-weight: 700;}
header .btn_menu + p + p{margin-left: 10px;}
header > .right {display: flex;align-items: center;margin-left: auto;font-size: 13px;color: #212529;} 
header > .right .name { font-weight: 700; } 
header > .right .grp_topmenu{display: flex;align-items: center;border-left:1px solid #ADB5BD;margin-left: 15px;padding-left: 15px;}
header > .right button{font-size: 13px;font-weight: 700;background: none;}
header > .right button+button{margin-left: 15px;}
header > .right .btn_noti{width: 20px;height: 20px;background: url(../images/old/btn_noti.svg) center no-repeat;font-size: 0;}
header > .right .btn_noti.on{background: url(../images/old/btn_noti_on.svg) center no-repeat;}

.container{display: flex;flex-direction: column; flex: 1;overflow: auto;background: #F3F4F6;}

/* 메인 */
.tab_main{ position: relative; flex:1;overflow-y: auto; padding: 15px 30px 0; box-sizing: border-box;}
.tab_main:after { content: '';flex:none; display: block; height: 50px; }
.tab_main .tab_main_list{display: flex;align-items: center;}
.tab_main .tab_main_list li{position: relative;}
.tab_main .tab_main_list li a{display: inline-flex;height: 36px;padding: 10px 33px 10px 15px;box-sizing: border-box;color:#343A40;font-size: 13px;font-weight: 700;text-decoration: none;}
.tab_main .tab_main_list li a.on{background: #fff;border-radius: 6px 6px 0 0;}
.tab_main .tab_main_list li .close{position: absolute;top:10px;right:15px;width: 15px;height: 15px;background: url(../images/old/btn_close.svg) center no-repeat;}
.tab_main .tit_main{display: flex;align-items: center;height: 70px;padding:0 20px;background-color: #fff;margin-bottom: 10px;}
.tab_main .tit_main h2{font-size: 18px;font-weight: 600;color:#212529;margin-right: 10px;}
.tab_main .tit_main p{font-size: 12px;font-weight: 500;color:#495057;}
.tab_main .tit_main .right{margin-left: auto;display: inline-flex;align-items: center;}
.tab_main .tit_main .right button{display: inline-flex;align-items: center;justify-content: center;background: #212529;color:#fff;height: 40px;padding: 0 14px;font-size: 14px;border-radius: 6px;min-width: 100px;}
.tab_main .tit_main .right button + button{margin-left: 10px;}
.tab_main .tit_main .right button.pt{background: #00CF9D;color:#fff}
.tab_main .tit_main .right button.red{background: #FF6A87;color:#fff}
.tab_main .tit_main .right button.gray{background: #ADB5BD;color:#fff}
.tab_main .tit_main .right button.plus::before{content: '';width: 20px;height: 20px;display: inline-block;margin-right: 3px;background: url(../images/old/ico_plus.svg) no-repeat center;}
.tab_main .tit_main .right button.sheet::before{content: '';width: 20px;height: 20px;display: inline-block;margin-right: 3px;background: url(../images/old/ico_sheet.svg) no-repeat center;}
.tab_main .tit_main .right button.grid::before{content: '';width: 20px;height: 20px;display: inline-block;margin-right: 3px;background: url(../images/old/ico_grid.svg) no-repeat center;}

.tab_cont_list{display: flex;align-items: center;margin-top: 15px;}
.tab_cont_list li{display: inline-flex;align-items: center;}
.tab_cont_list li button{padding: 0 40px;height: 54px;background: #E5E8EC;display: inline-flex;align-items: center;justify-content: center;color:#495057;font-size: 15px;font-weight: 600;}
.tab_cont_list li span{display: inline-block;width: 18px;height: 18px;background: #495057;color:#fff;font-size: 12px;font-weight: 500;border-radius: 50%;line-height: 18px;margin-left: 8px;}
.tab_cont_list li button span{text-indent: -1px;}
.tab_cont_list li.on button{background: #fff;box-shadow: inset 0 4px #00CF9D;color: #212529;}
.tab_cont_list li.on span{background: #212529;}
.tab_cont_list+.content{margin-top: 0;}

.ly_content{display: flex;gap:10px}
.content { position: relative; flex:1;overflow-y: auto; box-sizing: border-box;background-color: #fff;padding:30px 20px} 
.content.set{position: sticky;top:0;flex:none;width:400px}


.form_setting h3{margin:28px 0 8px;font-weight: 700;}
.form_setting h3:first-child{margin-top: 0;}
.form_setting .btn_apply{width: 100%;margin-top: 20px;}
.form_ul{display: grid;grid-template-columns: 1fr 1fr;gap:12px;}
.form_ul > li > label{display: block;margin-bottom: 2px;}
.form_ul > li > input[type=text]{width: 100%;border:1px solid #ccc;height:30px;box-sizing: border-box;padding: 4px;}
.form_ul > li > input[type=color]{width: 100%;height: 30px;border:1px solid #ccc;padding:0px 3px;box-sizing: border-box;background: #fff;}
.form_ul > li > select{width: 100%;border:1px solid #ccc;height:30px;box-sizing: border-box;padding: 4px;}




/* component */
.grp_component {
    & .ipt_text,
    & .ipt_search,
    & .ipt_password,
    & .select{width:100%;height: var(--input-height);padding:var(--input-pd);border: var(--input-bd-width) var(--input-bd-type) var(--input-bd-color);border-radius: var(--input-bd-radius);font-size:var(--input-font-size);font-weight: var(--input-font-weight);color:var(--input-font-color);line-height: var(--input-lineheight);box-sizing: border-box;}
}


.grp_component .ipt_check{display: flex;align-items:center;gap:4px}
.grp_component .ipt_check .ico{position: relative;display: inline-block;width: 16px;height: 16px;border:1px solid #ccc}
.grp_component .ipt_check .ico input{position: absolute;left: 0;top:0;width: 100%;height: 100%;opacity: 0;}
.grp_component .ipt_check .ico svg{display: none;vertical-align: top;}
.grp_component .ipt_check .ico input:checked + svg{display: block;background: var(--checked-bg);}

.grp_component + .grp_component{margin-top: 28px;}
.grp_component .title{font-size: 24px;font-weight: 700;margin-bottom: 12px;}
.grp_component > ul{display: grid;grid-template-columns: repeat(3, 1fr);gap:20px;border:1px solid #eee;padding:16px}
.grp_component > ul li .tit{margin-bottom: 4px;}

.btn_apply{padding: 0 8px;height:30px;}